@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
  border-radius: 1px;
}
::selection {
  @apply bg-violet-500 text-white;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  @apply bg-black text-white;
  direction: rtl;
  font-weight: 400 700;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

form {
  @apply w-full px-7 py-8 border border-transparent bg-transparent md:border-white/20 rounded-lg flex flex-col items-start justify-center gap-2;
}

input,
textarea {
  @apply w-full ltr placeholder:text-right rounded-lg py-3 px-4 placeholder:text-stone-500 placeholder:text-sm bg-stone-800 text-white  focus:outline outline-violet-400;
}

.inputholder {
  @apply w-full ltr rounded-lg pl-4 bg-stone-800 text-white flex items-center gap-2;
}

form button {
  @apply bg-violet-500 w-full h-12 flex justify-center items-center rounded-md mt-4;
}

.verifyformcontainer {
  @apply min-h-screen w-full md:w-auto flex flex-col justify-center items-center bg-black absolute inset-0 top-0 left-0 z-[51];
}

#content {
  @apply pb-2;
}

#content h2 {
  @apply font-semibold text-3xl py-4;
}
#content p {
  @apply py-1;
}
#content a {
  @apply inline-block mx-1.5 transition-all text-violet-400 hover:text-violet-500 rounded-lg;
}

.loadinghide {
  animation: highlight 3s;
}

@keyframes highlight {
  from,
  99% {
    display: none;
  }
  to {
    display: block;
  }
}

.loadinganim {
  @apply animate-pulse;
}

.ltr {
  direction: ltr;
}

article {
  @apply max-w-none text-gray-300 leading-relaxed space-y-4 text-justify select-none;
}

article p {
  @apply text-justify;
}

article h2 {
  @apply text-2xl font-bold;
}

article a {
  @apply text-violet-400 hover:text-violet-500;
}

article a.user {
  @apply bg-violet-500 text-white font-semibold rounded-lg mx-1.5;
}

article blockquote {
  @apply bg-stone-900 text-white/90 rounded-lg py-2.5 pl-6 pr-10 relative;
}

article blockquote::before {
  content: "❞";
  @apply absolute right-2 top-2.5 text-5xl text-violet-400;
}

/* article a.playlink */
/* article a. artist link */

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

select {
  appearance: none;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  padding-left: 32px;
}
/* Style the dropdown arrow */
select::-ms-expand {
  display: none;
}
select option {
  @apply px-2 my-4;
}
